@import '@/assets/scss/vars/index.scss';

#exchange_form .input_wrap {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  border: 1px solid map-get($color, 'primary');
  font-size: 2.2rem;
  color: map-get($color, 'primary');
  position: relative;
  @media (max-width: 22.0625em) {
    font-size: 1.8rem;
  }
  & + .input_wrap {
    margin-top: 4rem;
  }
  &.active .remind {
    display: block;
  }
  .gift_name {
    width: 51%;
    letter-spacing: 1px;
    padding: 0.5rem 0 0.5rem 1rem;
  }
  .gift_point {
    padding: 0 1rem;
    letter-spacing: 1px;
    flex: 1;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    span {
      margin-right: 0.5rem;
    }
  }
  .group {
    width: 27%;
    select,
    input {
      height: 100%;
      padding: 0 1rem;
      background-color: map-get($color, 'primary');
      color: #fff;
      font-size: 1.8rem;
      @media (max-width: 22.0625em) {
        font-size: 1.8rem;
      }
      &::placeholder {
        color: #fff;
      }
    }
  }
  .remind {
    color: map-get($color, 'light');
    position: absolute;
    font-size: 1.8rem;
    left: 1rem;
    top: 105%;
    letter-spacing: 1px;
    padding-left: 1px;
    @media (max-width: 22.0625em) {
      font-size: 12px;
    }
  }
}
