@import '@/assets/scss/vars/index.scss';

.btn {
  display: inline-block;
  width: 17rem;
  text-align: center;
  overflow: hidden;
  &:active {
    opacity: 0.6;
  }
  @media (max-width: 40em) {
    width: 18rem;
  }
  @media (max-width: 350px) {
    width: 16rem;
  }
}

.btn a {
  font-size: 2rem;
  color: #fff;
  width: 100%;
  height: 100%;
  line-height: 1.5;
  background-color: map-get($color, 'btnBG');
  border-radius: 0.5rem;
  padding: 2.5px 0;
}

.btn a span {
  transform: translateY(-0.1rem);
  @media (max-width: 320px) {
    font-size: 2.4rem;
    color: #fff;
  }
}
