@import '@/assets/scss/vars/index.scss';

.tab_page.exchange_record .th .grid {
  @media (max-width: 22.0625em) {
    font-size: 1.8rem;
  }
}

.tab_page.exchange_record .grid {
  text-align: center;
  line-height: 1.3;
  padding: 0.5rem 1rem;
  &:nth-child(1) {
    width: 28%;
  }
  &:nth-child(2) {
    width: 30%;
    @media (max-width: 400px) {
      width: 33%;
    }
  }
  &:nth-child(3) {
    flex: 1;
  }
}

.tab_page.exchange_record .td .grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  line-height: 1.2;
  & > p {
    letter-spacing: 0;
    padding-left: 0;
    display: block;
    width: 100%;
  }
  &:nth-child(1) {
    font-style: italic;
  }
  &:nth-child(2) {
    text-align: left;
    .lottery_text {
      color: map-get($color, 'light');
      font-size: 1.6rem;
      display: inline-block;
    }
  }
  &:nth-child(3) {
    p {
      &:nth-child(1) {
        color: map-get($color, 'titleNameBG');
      }
      &:nth-child(2) {
        font-size: 1.4rem;
        color: map-get($color, 'primary');
      }
    }
  }
}
