@import '@/assets/scss/vars/index.scss';

.notice {
  padding: 2rem 1rem 0 1rem;
  .caption {
    color: map-get($color, 'error');
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1rem;
    @media (max-width: 40em) {
      font-size: 15px;
    }
  }
  ul {
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 300;
    @media (max-width: 40em) {
      font-size: 14px;
    }
    li {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      & span:nth-child(2) {
        flex: 1;
      }
    }
    a {
      color: #000;
    }
  }
}
