@import '@/assets/scss/vars/index.scss';

.tab_page.code_details .grid {
  width: 50%;
  text-align: center;
  line-height: 1.3;
  padding: 0.5rem 0;
}

.tab_page.code_details .td .grid {
  font-weight: 700;
  font-style: italic;
  padding: 1rem 0;
}
