@import '@/assets/scss/vars/index.scss';

.pagination_btns {
  margin-top: 2rem;
  text-align: center;
  .btn {
    width: auto;
    user-select: none;
    margin: 0 1rem;
    a {
      width: 16rem;
      font-size: 2rem;
      display: flex;
      justify-content: center;
      align-content: center;
      @media (max-width: 22.5em) {
        span {
          font-size: 1.6rem;
        }
      }
      i {
        font-size: 2.4rem;
        vertical-align: -0.2rem;
        @media (max-width: 22.5em) {
          font-size: 1.8rem;
          vertical-align: -0.1rem;
        }
      }
    }
    &.prev_btn i {
      margin-right: 0.5rem;
    }
    &.next_btn i {
      margin-left: 0.5rem;
    }
  }
}
